<div class="intoro">
            <h5>診断結果</h5>
            <p>あなたにおすすめのカクテルは…</p>
        </div>
        <div class="tweet-container">
            <div class="tweet">
                <% if @perfume.question == "111" %>
                <h6>ジンバック</h6>
                <p>ロングカクテル</p>
                <p>ジン×ライムジュース×ジンジャーエール</p>
                <p>ビルド</p>
                <p>説明</p>

                <% elsif @perfume.question == "112" %>
                <h6>オレンジブロッサム</h6>
                <p>ロングカクテル</p>
                <p>ジン×オレンジジュース</p>
                <p>ビルド</p>
                <p>説明</p>

                <% elsif @perfume.question == "121" %>
                <h6>モスコミュール</h6>
                <p>ロングカクテル</p>
                <p>ウォッカ×ライムジュース×ジンジャーエール</p>
                <p>ビルド</p>
                <p>説明</p>

                <% elsif @perfume.question == "122" %>
                <h6>スクリュードライバー</h6>
                <p>ロングカクテル</p>
                <p>ウォッカ×オレンジジュース</p>
                <p>ビルド</p>
                <p>説明</p>

                <% elsif @perfume.question == "131" %>
                <h6>ラムコーク</h6>
                <p>ロングカクテル</p>
                <p>ラム×コーラ</p>
                <p>ビルド</p>
                <p>説明</p>

                <% elsif @perfume.question == "132" %>
                <h6>ピニャコラーダ</h6>
                <p>ロングカクテル</p>
                <p>ラム×ココナッツミルク×パイナップルジュース</p>
                <p>シェイク</p>
                <p>説明</p>

                <% elsif @perfume.question == "141" %>
                <h6>チャイナブルー</h6>
                <p>ロングカクテル</p>
                <p>ライチリキュール×グレープフルーツジュース×ブルーキュラソー×トニックウォーター</p>
                <p>ビルド</p>
                <p>説明</p>

                <% elsif @perfume.question == "142" %>
                <h6>ファジーネーブル</h6>
                <p>ロングカクテル</p>
                <p>ピーチリキュール×オレンジジュース</p>
                <p>ビルド</p>
                <p>説明</p>

                <% elsif @perfume.question == "211" %>
                <h6>ジントニック</h6>
                <p>ロングカクテル</p>
                <p>ジン×トニックウォーター×カットライム</p>
                <p>ビルド</p>
                <p>説明</p>

                <% elsif @perfume.question == "212" %>
                <h6>ホワイトレディ</h6>
                <p>ショートカクテル</p>
                <p>ジン×ホワイトキュラソー×レモンジュース</p>
                <p>シェイク</p>
                <p>説明</p>

                <% elsif @perfume.question == "221" %>
                <h6>スミノフレモネード</h6>
                <p>ロングカクテル</p>
                <p>スミノフウォッカ×シュガーシロップ×カットレモン×ソーダ</p>
                <p>ビルド</p>
                <p>説明</p>

                <% elsif @perfume.question == "222" %>
                <h6>ソルティドッグ</h6>
                <p>ロングカクテル</p>
                <p>ウォッカ×グレープフルーツジュース×塩</p>
                <p>ビルド</p>
                <p>グラスはタンブラー</p>

                <% elsif @perfume.question == "231" %>
                <h6>ソルクバーノ</h6>
                <p>ロングカクテル</p>
                <p>ラム×グレープフルーツジュース×トニックウォーター</p>
                <p>ビルド</p>
                <p>説明</p>

                <% elsif @perfume.question == "232" %>
                <h6>ダイキリ</h6>
                <p>ショートカクテル</p>
                <p>ホワイトラム×ライムジュース×シュガーシロップ</p>
                <p>シェイク</p>
                <p>説明</p>

                <% elsif @perfume.question == "241" %>
                <h6>スプモーニ</h6>
                <p>ロングカクテル</p>
                <p>カンパリ×グレープフルーツジュース×トニックウォーター</p>
                <p>ビルド</p>
                <p>説明</p>

                <% elsif @perfume.question == "242" %>
                <h6>キール</h6>
                <p>ロングカクテル</p>
                <p>カシスリキュール×白ワイン</p>
                <p>ビルド</p>
                <p>グラスは</p>

                <% elsif @perfume.question == "311" %>
                <h6>ネグローニ</h6>
                <p>ロングカクテル</p>
                <p>ドライジン×スイートベルモット×カンパリ</p>
                <p>ビルド</p>
                <p>ロックグラス</p>

                <% elsif @perfume.question == "312" %>
                <h6>マティーニ</h6>
                <p>ショートカクテル</p>
                <p>ドライジン×ドライベルモット</p>
                <p>シェーク</p>
                <p>オリーブ</p>

                <% elsif @perfume.question == "321" %>
                <h6>ウォッカアイスバーグ</h6>
                <p>ロングカクテル</p>
                <p>ウォッカ×アブサン</p>
                <p>ステア</p>
                <p>説明</p>

                <% elsif @perfume.question == "322" %>
                <h6>バラライカ</h6>
                <p>ショートカクテル</p>
                <p>ウォッカ×ホワイトキュラソー×レモンジュース</p>
                <p>シェーク</p>
                <p>説明</p>

                <% elsif @perfume.question == "331" %>
                <h6>ゾンビ</h6>
                <p>ロングカクテル</p>
                <p>ホワイトラム×ゴールドラム×ダークラム×アプリコットブランデー×オレンジジュース×パイナップルジュース×レモンジュース×グレナデンシロップ</p>
                <p>シェーク、フロート</p>
                <p>説明</p>

                <% elsif @perfume.question == "332" %>
                <h6>ＸＹＺ</h6>
                <p>ショートカクテル</p>
                <p>ラム×ホワイトキュラソー×レモンジュース</p>
                <p>シェーク</p>
                <p>名前の由来</p>

                <% elsif @perfume.question == "341" %>
                <h6>ロングアイランドアイスティー</h6>
                <p>ロングカクテル</p>
                <p>ジン×ウォッカ×ラム×テキーラ×ホワイトキュラソー×レモンジュース×コーラ</p>
                <p>ビルド</p>
                <p>炭酸抜く</p>

                <% elsif @perfume.question == "342" %>
                <h6>ゴッドファーザー</h6>
                <p>ショートカクテル</p>
                <p>ウイスキー×アマレット</p>
                <p>ビルド</p>
                <p>ステアするだけ。度数は高いが意外と飲みやすい。</p>

                <% end %>
