// Place all the styles related to the perfumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cacktailimage {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding-top: -80px;
}

.img-cacktail{
    position: absolute;
    height: 140%;
    width: auto;
}